.card{
    cursor: pointer;
    height: 300px;
    width: 250px;
    box-sizing: border-box;
    pad: 0 20%;
}
.card:hover{
    background: #D9D8EA;
  }

  @media (max-width: 552px){
    .card{
        /* min-width: 80%; */
    }
  }