/* CSS RESET  */
* *{
  margin: 0;
  padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

body{
  width: 100vw;
  font-family: 'Josefin Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Document level adjustments */
html {
  font-size: 16px;
}
@media (max-width: 1200px) {
  html { font-size: 14px; }
}
@media (max-width: 800px) {
  html { font-size: 10px; }
}
